@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

button {
  font-size: 18px;
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 0.5em;
  padding: 8px 32px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  display:flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar img {
  height: 50px;
  width: auto;
  padding: 5px;
}

header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
}

.hero {
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px ;
}

.hero h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8
}

.hero p {
  margin: 20px 0;
}

.hero img {
  max-width: 50%;
}

.box-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-section h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 15px;
}

.box-section h4 {
  margin: 20px 0;
}

.boxes{
  display:flex;
  gap: 40px;
  margin: 20px 0  ;
}

.boxes img {
  height: 200px;
  padding: 5px;
}

.box-and-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 500px;
}

.box {
  border-radius: 1em;
}

.quote {
  background-color: #e5e7eb;
  color: #1f2937;
}

.quote .container{
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  padding: 100px 100px;
}

.quote p:nth-of-type(1) {
  margin-bottom: 0;
}

.quote p:nth-of-type(2) {
  align-self: flex-end;
  font-style: normal;
  font-weight:900;
  margin-top: 0;
  padding-right: 50px;
}

.sign-up .container .content {
  display: flex;
  background-color: #3882f6;
  color: #e5e7eb;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 1em;
  padding: 60px 100px;
  margin: 80px 0px;
}

.content h1 {
  margin: 0 
}

.content p {
  margin:0;
}

.content button {
  border: 1px solid white;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media(max-width: 900px) {
  
  .hero {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    text-align: center;
    gap: 20px
  }

  .hero img {
    max-width: 50%;
  }

  .boxes{
    display:flex;
    flex-direction: column;
    gap: 40px;
  }

  .quote p:nth-of-type(2) {
    margin-top: 10px;
    padding-right: 0px;
  }

  .sign-up .container .content {
    flex-direction: column;
    text-align: center;
  }

}

@media(max-width: 650px) {

  .hero img {
    max-width: 70%;
  }
}